body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand img {
    transition: transform 0.3s;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
